<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODER MINGLE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<header>
    <!-- Render script for logged in users only -->
    <p class="title"> Coder Mingle</p>
</header>

{{#if logged_in}}
<navbar class="navbar">
    <nav class="navbar navbar-expand-lg navbar-light mx-auto">
        <div class="container-fluid">
            <a class="navbar-brand" href="/mainPage">Main</a>
            <a class="navbar-brand" href="/profile">Profile</a>
            <a class="navbar-brand" href="/matching">Matching</a>
            <button class="logout-btn" id="logout">Logout</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
        </div>
    </nav>
</navbar>
{{/if}}
<body>
    {{{ body }}}
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>