<main id="homepage">
<h1 id="homepage-title">Welcome to Coder Mingle</h1>
<p id="homepage-text">Cick the link to get started!</p>
    <div id="homepage-link">
        <a href="/login">Start Dating!</a>
</div>
</main>
