<div id="loginPage">

<div class="d-flex flex-column col-lg-3 mx-auto justify-content-center pt-5">

<form id="login-form">
    <h3 class="text-primary">Login:</h3>
    <input type="text" id="username-login" placeholder="Username" class="mt-1">
    <input type="password" id="password-login" placeholder="Password" class="mt-1">
    <button class="col-lg-8 mx-auto mt-2">login!</button>
</form>

<form id="signUp-form">
    <h3 class="text-primary">Sign Up:</h3>
    <input type="text" id="firstName-signup" placeholder="First Name">
    <input type="text" id="lastName-signup" placeholder="Last Name" class="mt-1">
    <input type="text" id="username-signup" placeholder="Username" class="mt-1">
    <input type="text" id="email-signup" placeholder="Email" class="mt-1">
    <input type="password" id="password-signup" placeholder="Password" class="mt-1">
    <input type="password" id="password-confirm" placeholder="Confirm Password" class="mt-1">
    <button class="col-lg-8 mx-auto mt-2">Sign up!</button>
</form>
</div>

</div>
<script src="/js/login.js"></script>