<h1>This is a login testing page</h1>

<form id="login-form">
    <input type="text" id="username-login" placeholder="username">
    <input type="password" id="password-login" placeholder="password">
    <button>login!</button>
</form>

<form id="signUp-form">
    <input type="text" id="firstName-signup" placeholder="firstName">
    <input type="text" id="lastName-signup" placeholder="lastName">
    <input type="text" id="username-signup" placeholder="username">
    <input type="text" id="email-signup" placeholder="email">
    <input type="password" id="password-signup" placeholder="password">
    <button>Sign up!</button>
</form>

<script src="/js/login.js"></script>