<div class="matchCardContainer">
{{#each userList}}
    <a class="matchCard" href="/profile?id={{userId}}">

   <h2 class="matchCardHeader">
       {{fullname}}
   </h2> 
    <img class="rounded-0" src="{{profile_pic}}" alt="User profile image {{fullname}}">
    </a>
{{/each}}
</div>