<h1>We'd like to get to know you</h1>

<form id="survey-form">

    <p>1. What is your gender?</p>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="anyone" name="gender" value="anyone">
  <label for="javascript">None of the above, or prefer not to say</label>

  <br>
  <br>

  <p>2. Who would you like to see on this site?</p>
  <input type="radio" id="female" name="pref_gender" value="female">
  <label for="female">Female</label><br>
  <input type="radio" id="male" name="pref_gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="anyone" name="pref_gender" value="anyone">
  <label for="javascript">Anyone</label>

  <br>
  <br>

  <p>3. What is your birthdate?</p>
  <input type="date" id="birthdate" name="birthdate">
  <label for="birthdate">Birthdate as MM/DD/YYYY</label><br>

  <br>
  <br>

  <p>2. Why are you joining this dating site?</p>
  <input type="radio" id="long-term" name="dating_for" value="long-term">
  <label for="female">Long-term relationship</label><br>
  <input type="radio" id="casual" name="dating_for" value="casual">
  <label for="male">Just looking for something casual</label><br>
  <input type="radio" id="prog-help" name="dating_for" value="prog-help">
  <label for="javascript">I need programming help</label><br>
  <input type="radio" id="none" name="dating_for" value="none">
  <label for="female">None of the above</label>

  <br>
  <br>

  <p>3. Relationship-wise, how do you see yourself in the future?</p>
  <input type="radio" id="marriage-kids" name="relationship_type" value="married-kids">
  <label for="female">Married/committed with kids</label><br>
  <input type="radio" id="marriage-nokids" name="relationship_type" value="married-nokids">
  <label for="male">Married/committed, but unsure about or don't want kids</label><br>
  <input type="radio" id="nomarriage-kids" name="relationship_type" value="nomarriage-kids">
  <label for="javascript">Kids, but unsure about or don't want marriage/commitment</label><br>
  <input type="radio" id="nomarriage-nokids" name="relationship_type" value="nomarriage-nokids">
  <label for="female">I want to do my own thing forever, or none of the above</label>

  <br>
  <br>

  <p>4. What type of programmer are you?</p>
  <input type="text" id="programmer_type" placeholder="i.e. Web Developer, Data Scientist, etc...">

  <br>
  <br>

  <p>5. What is your favorite programming language?</p>
  <input type="text" id="language" placeholder="i.e. React.js, Python, Fortran, etc..">

  <br>
  <br>

  <p>6. How would you describe your work ethic?</p>
  <input type="radio" id="hardest-worker" name="worker_type" value="hardest-worker">
  <label for="hardest-worker">Work and energy drinks all night, everynight</label><br>
  <input type="radio" id="hard-worker" name="worker_type" value="hard-worker">
  <label for="hard-worker">Hard worker but I need my social life balance</label><br>
  <input type="radio" id="lazy-worker" name="worker_type" value="lazy-worker">
  <label for="lazy-worker">Do bare minimum to get the work done and then do other hobbies</label><br>
  <input type="radio" id="none" name="worker_type" value="none">
  <label for="none">None of the above</label>

  <br>
  <br>

  <p>7. What is your ideal date night?</p>
  <input type="radio" id="stay-in" name="ideal_date" value="stay-in">
  <label for="stay-in">Stay in, get takeout, watch a movie or play video games</label><br>
  <input type="radio" id="dio" name="ideal_date" value="dinner-date">
  <label for="dinner-date">Go out to a nice restaurant or picnic and stare into each other’s eyes
</label><br>
  <input type="radio" id="game-night" name="ideal_date" value="game-night">
  <label for="game-night">Go out with a group of friends for a game night or drinks</label><br>
  <input type="radio" id="club-night" name="ideal_date" value="club-night">
  <label for="club-night">Hit the club, take some shots, initiate the bender</label>

<br>
<br>

    <button>submit</button>
</form>

<script src="/js/survey.js"></script>