<h1>We'd like to get to know you</h1>

<form id="survey-form">

  <p>1. What is your gender?</p>
  <input type="radio" id="female" name="gender" value="Female">
  <label for="female">Female</label><br>
  <input type="radio" id="male" name="gender" value="Male">
  <label for="male">Male</label><br>
  <input type="radio" id="anyone" name="gender" value="None of the above, or prefer not to say">
  <label for="anyone">None of the above, or prefer not to say</label>

  <br>
  <br>

  <p>2. Who would you like to see on this site?</p>
  <input type="radio" id="prefer_female" name="pref_gender" value="Female">
  <label for="prefer_female">Female</label><br>
  <input type="radio" id="prefer_male" name="pref_gender" value="Male">
  <label for="prefer_male">Male</label><br>
  <input type="radio" id="prefer_anyone" name="pref_gender" value="Anyone">
  <label for="prefer_anyone">Anyone</label>

  <br>
  <br>

  <p>3. What is your birthdate?</p>
  <input type="date" id="birthdate" name="birthdate">
  <label for="birthdate">Birthdate as MM/DD/YYYY</label><br>

  <br>
  <br>

  <p>2. Why are you joining this dating site?</p>
  <input type="radio" id="long-term" name="dating_for" value="Long-term relationship">
  <label for="long-term">Long-term relationship</label><br>
  <input type="radio" id="casual" name="dating_for" value="Just looking for something casual">
  <label for="casual">Just looking for something casual</label><br>
  <input type="radio" id="prog-help" name="dating_for" value="I need programming help">
  <label for="prog-help">I need programming help</label><br>
  <input type="radio" id="none" name="dating_for" value="None of the above">
  <label for="none">None of the above</label>

  <br>
  <br>

  <p>3. Relationship-wise, how do you see yourself in the future?</p>
  <input type="radio" id="marriage-kids" name="relationship_type" value="Married/committed with kids">
  <label for="marriage-kids">Married/committed with kids</label><br>
  <input type="radio" id="marriage-nokids" name="relationship_type"
    value="Married/committed, but unsure about or don't want kids">
  <label for="marriage-nokids">Married/committed, but unsure about or don't want kids</label><br>
  <input type="radio" id="nomarriage-kids" name="relationship_type"
    value="Kids, but unsure about or don't want marriage/commitment">
  <label for="nomarriage-kids">Kids, but unsure about or don't want marriage/commitment</label><br>
  <input type="radio" id="nomarriage-nokids" name="relationship_type"
    value="I want to do my own thing forever, or none of the above">
  <label for="nomarriage-nokids">I want to do my own thing forever, or none of the above</label>

  <br>
  <br>

  <p>4. What type of programmer are you?</p>
  <textarea id="programmer_type" name="programmer_type" rows="4" cols="50"
    placeholder="i.e. Web Developer, Data Scientist, etc..."></textarea>

  <br>
  <br>

  <p>5. What is your favorite programming language?</p>
  <textarea id="language" name="language" rows="4" cols="50"
    placeholder="i.e. C++, React.js, Python, Fortran, etc.."></textarea>

  <br>
  <br>

  <p>6. How would you describe your work ethic?</p>
  <input type="radio" id="hardest-worker" name="worker_type" value="Work and energy drinks all night, everynight">
  <label for="hardest-worker">Work and energy drinks all night, everynight</label><br>
  <input type="radio" id="hard-worker" name="worker_type" value="Hard worker but I need my social life balance">
  <label for="hard-worker">Hard worker but I need my social life balance</label><br>
  <input type="radio" id="lazy-worker" name="worker_type" value="Do bare minimum to get the work done and then do other hobbies">
  <label for="lazy-worker">Do bare minimum to get the work done and then do other hobbies</label><br>

  <br>
  <br>

  <p>7. What is your ideal date night?</p>
  <input type="radio" id="stay-in" name="ideal_date" value="Stay in, get takeout, watch a movie or play video games">
  <label for="stay-in">Stay in, get takeout, watch a movie or play video games</label><br>
  <input type="radio" id="dio" name="ideal_date" value="Go out to a nice restaurant or picnic and stare into each other’s eyes">
  <label for="dinner-date">Go out to a nice restaurant or picnic and stare into each other’s eyes
  </label><br>
  <input type="radio" id="game-night" name="ideal_date" value="Go out with a group of friends for a game night or drinks">
  <label for="game-night">Go out with a group of friends for a game night or drinks</label><br>
  <input type="radio" id="club-night" name="ideal_date" value="Hit the club, take some shots, initiate the bender">
  <label for="club-night">Hit the club, take some shots, initiate the bender</label>

  <p>8. A brief self-introduction</p>
  <textarea id="bio" name="bio" rows="4" cols="50" placeholder="Talk a bit more about yourself"></textarea>

  <br>
  <br>

  <button>Submit</button>
</form>

<script src="/js/survey.js"></script>