<div id="survey">
  <form id="surveyForm">


  {{!-- Gender --}}
  <div class="surveyForm-control">
  <p4>What is your gender?</p4>
  <label for="female" class="surveyContainer">Female
    <input type="radio" id="female" name="gender" value="female">
    <span class="checkmark"></span>
  </label>
   <label for="male" class="surveyContainer">Male
    <input type="radio" id="male" name="gender" value="male">
    <span class="checkmark"></span>
  </label>
  </div>
  {{!-- <input type="radio" id="anyone" name="gender" value="prefer not to say">
  <label for="anyone">Prefer not to say</label> --}}


{{!-- Gender Preference --}}
 <div class="surveyForm-control">
  <p4>Who would you like to see on this site?</p4>
  <label for="prefer_female" class="surveyContainer">Female
  <input type="radio" id="prefer_female" name="pref_gender" value="female">
   <span class="checkmark"></span>
   </label>
  <label for="prefer_male" class="surveyContainer">Male
  <input type="radio" id="prefer_male" name="pref_gender" value="male">
  <span class="checkmark"></span>
  </label>
  <label for="prefer_anyone" class="surveyContainer">Anyone
  <input type="radio" id="prefer_anyone" name="pref_gender" value="anyone">
  <span class="checkmark"></span>
  </label>
</div>
{{!-- Birthday --}}
 <div class="surveyForm-control">
  <p4> What is your birthdate?</p4>
  <input type="date" id="birthdate" name="birthdate">
  <label for="birthdate"></label><br>
 </div>
{{!-- Reason for joining --}}
 <div class="surveyForm-control">
  <p4> Why are you joining this dating site?</p4>
  <label for="long-term" class="surveyContainer">Long-term relationship
  <input type="radio" id="long-term" name="dating_for" value="Long-term relationship">
  <span class="checkmark"></span>
  </label>

  <label for="casual" class="surveyContainer">Just looking for something casual
  <input type="radio" id="casual" name="dating_for" value="Just looking for something casual">
  <span class="checkmark"></span>
  </label>

  <label for="prog-help"class="surveyContainer">I need programming help
  <input type="radio" id="prog-help" name="dating_for" value="I need programming help">
 
   <span class="checkmark"></span>
  </label>

  
  <label for="none"class="surveyContainer">None of the above
  <input type="radio" id="none" name="dating_for" value="None of the above">
    <span class="checkmark"></span>
  </label>
 </div>

{{!-- Relationship-Preference --}}
 <div class="surveyForm-control">
  <p4> Relationship-wise, how do you see yourself in the future?</p4>
  <label for="marriage-kids"class="surveyContainer">Married/committed with kids
  <input type="radio" id="marriage-kids" name="relationship_type" value="Married/committed with kids">
  <span class="checkmark"></span>
    </label>
  

  <label for="marriage-nokids"class="surveyContainer">Married/committed, but unsure about or don't want kids
  <input type="radio" id="marriage-nokids" name="relationship_type" value="Married/committed, but unsure about or don't want kids">
  <span class="checkmark"></span>
    </label>

  <label for="nomarriage-kids"class="surveyContainer">Kids, but unsure about or don't want marriage/commitment
  <input type="radio" id="nomarriage-kids" name="relationship_type" value="Kids, but unsure about or don't want marriage/commitment">
  <span class="checkmark"></span>
    </label>

  <label for="nomarriage-nokids"class="surveyContainer">I want to do my own thing forever, or none of the above
  <input type="radio" id="nomarriage-nokids" name="relationship_type" value="I want to do my own thing forever, or none of the above">
  <span class="checkmark"></span>
    </label>
 </div>
{{!-- Type of programmer --}}
 <div class="surveyForm-control">
  <p4> What type of programmer are you?</p4>
  <textarea id="programmer_type" name="programmer_type" rows="4" cols="50"
    placeholder="i.e. Web Developer, Data Scientist, etc..."></textarea>
 </div>

 <div class="surveyForm-control">
  <p4>What is your favorite programming language?</p4>
  <textarea id="language" name="language" rows="4" cols="50"
    placeholder="i.e. C++, React.js, Python, Fortran, etc.."></textarea>
 </div>

{{!-- Work Ethic --}}
 <div class="surveyForm-control">
  <p4> How would you describe your work ethic?</p4>
  <label for="hardest-worker"class="surveyContainer">Work and energy drinks all night, everynight
  <input type="radio" id="hardest-worker" name="worker_type" value="Work and energy drinks all night, everynight">
  <span class="checkmark"></span>
  </label>

  <label for="hard-worker"class="surveyContainer">Hard worker but I need my social life balance
  <input type="radio" id="hard-worker" name="worker_type" value="Hard worker but I need my social life balance">
  <span class="checkmark"></span>
  </label>

  <label for="lazy-worker"class="surveyContainer">Do bare minimum to get the work done and then do other hobbies
  <input type="radio" id="lazy-worker" name="worker_type" value="Do bare minimum to get the work done and then do other hobbies">
  <span class="checkmark"></span>
  </label>

 </div>

{{!-- Ideal date-night --}}
 <div class="surveyForm-control">
  <p4> What is your ideal date night?</p4>
  <label for="stay-in"class="surveyContainer">Stay in, get takeout, watch a movie or play video games
  <input type="radio" id="stay-in" name="ideal_date" value="Stay in, get takeout, watch a movie or play video games">
    <span class="checkmark"></span>
  </label>

 <label for="dinner-date"class="surveyContainer">Go out to a nice restaurant or picnic and stare into each other’s eyes
  <input type="radio" id="dinner-date" name="ideal_date" value="Go out to a nice restaurant or picnic and stare into each other’s eyes">
    <span class="checkmark"></span>
  </label>

  <label for="game-night"class="surveyContainer">Go out with a group of friends for a game night or drinks
  <input type="radio" id="game-night" name="ideal_date" value="Go out with a group of friends for a game night or drinks">
    <span class="checkmark"></span>
  </label>

  <label for="club-night"class="surveyContainer">Hit the club, take some shots, initiate the bender
  <input type="radio" id="club-night" name="ideal_date" value="Hit the club, take some shots, initiate the bender">
    <span class="checkmark"></span>
  </label>

 </div>
  
  {{!-- Intro --}}
  <div class="surveyForm-control">
  <p4> A brief self-introduction</p4>
  <textarea id="bio" name="bio" rows="4" cols="50" placeholder="Talk a bit more about yourself"></textarea>
</div>
  
  
  
  <button class="survey-btn">Submit</button>
  </div>
</form>


<script src="/js/survey.js"></script>