<div>
    <img src="{{img.url}}" alt="User Image {{img.id}}" id="userImg" data-index="{{img.id}}">
</div>

{{#if isSelf}}
<button id="profileBtn">Make Profile Picture</button>
<button id="deleteBtn">Delete Picture</button>
<script src="/js/userimagesbyid.js"></script>
{{/if}}