<div>
    <img src="{{img.url}}" alt="User Image {{img.id}}" id="userImg" data-index="{{img.id}}">
    <button id="profileBtn">Make Profile Picture</button>
    <button id="deleteBtn">Delete Picture</button>
</div>

<script src="/js/userimagesbyid.js"></script>