:root {
  --primaryBlue: #2a19eb;
  --secondaryBlue: #0ff0fc;
  --tertiaryBlue:#2a19eb62;
  --quaternaryBlue:#6A69F5;
  --surveyBlue:rgba(130, 211, 248, 0.89);

  --primaryPurp:#9d00ff;
  --secondaryPurp:#daa8eb;
  
  --primaryWhite:rgb(224, 236, 243);
  --secondaryWhite:rgba(132, 185, 245, 0.918);

  
}
p{

  background:#697FF2
}

* {
  background-color: var(--secondaryWhite);
  font-family: sans-serif;
}

body {
  overscroll-behavior:none;
  background-color:var(--tertiaryBlue)
}

header a:hover {
  background-color:var(--secondaryBlue);
  text-decoration: none;
}
.btn2 {
  text-decoration: none;
  position: relative;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--quaternaryBlue);
  color: var(--secondaryWhite);
  margin-top: 15px;
  border-radius: 20px;
  border: none;
}

.btn2:hover {
  background-color: var(--primaryBlue);
  color:var(--secondaryPurp)
}
.navbar {
  padding-top: 10px;
  margin-top: 0%;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(
    to bottom right,
    var(--primaryBlue) 0%,
    var(--secondaryBlue) 40%,
    var(--secondaryPurp)  60%,
    var(--primaryPurp)  100%
    );
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate;
  }
  @keyframes movingGradient {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
    
  }
  
  .title {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: var(--primaryWhite);
  margin-bottom: 0px;
  background-color: transparent;
  position:relative;
  margin-right: auto;
  }
  
  nav {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-end;
  }
  
  nav a {
text-decoration: none;
}


.startBtn {
  text-align: center;
  width:300px;
  height: 200px;
  padding:10px;
  color: var(--secondaryPurp);
  background-color:var(--tertiaryBlue) ;
  border: 7px solid var(--tertiaryBlue);
  border-radius: 50px;
  text-decoration: none;
}

.startBtn:hover {
  background-color: var(--secondarywhite);
  text-decoration: none;
  color: var(--quaternaryBlue);

}


.navbar-brand {
  background-color: transparent;
  border: transparent;
  color:var(--primaryWhite);
  display:flex;
  font-size: 25px;
  font-weight: bold;
  
}

.navbar-brand a:hover {
  background-color:var(--quaternaryBlue);
}

.logout-btn {
  font-size: 25px;
font-weight: bold;
text-decoration: none;
border:none;
background-color: transparent;

color:var(--primaryWhite);
}

.logout-btn:hover {
background-color:var(--primaryBlue2);
}

#loginContainer {
  background-color: #0ff0fc;
}

#loginPage {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding-bottom: 60%;
  background-color: var(--secondaryWhite);

}

.button{
  display: flex;
  overflow: hidden;
  
  cursor: pointer;
  transition: all 150ms linear; 
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;

 text-transform: capitalize;
  border-radius: 36px;
  color: var(--primaryWhite);
  background-color: gray;
  justify-content: center;
  margin: 10px;

  position: relative;

}

.prof-btn {
  display: flex;
  overflow: hidden;
  
  cursor: pointer;
  transition: all 150ms linear; 
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;

 text-transform: capitalize;
  border-radius: 36px;
  color:var(--primaryWhite);
  background-color: #757575;
  justify-content: center;
  margin: 10px;
  left: 20px;
  right: 20px;

}


.user {
  flex: 4;
  background-color: var(--primaryWhite);
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#homepage {
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
text-align: center;
}

#homepage-title {
padding: 20px;
font-weight: 900;
font-size: 90px;
}

#homepage-link {
font-size: 50px;
}

#homepage-text {
font-size: 45px;
}


#login-form {
  display:flex;
  flex-direction: column;
  padding:20px;
  padding-top:40px;
}

#signUp-form {
  display:flex;
  flex-direction: column;
}

.profile {
  font-size:26px;
  color: var(--primaryPurp);
  width: auto;
  text-align: center;
  margin-right: auto;
  margin-left:auto ;
}


#post {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.edit-btn {
  text-decoration: none;
  position: relative;
  padding: 10px;
  background-color: var(--quaternaryBlue);
  color: var(--secondaryWhite);
  margin-top: 15px;
  padding: 5px;
  border-radius: 20px;
}
.comment-btn {
  text-decoration: none;
  position: relative;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--quaternaryBlue);
  color: var(--secondaryWhite);
  margin-top: 15px;
  border-radius: 20px;
  border: none;
}
.comment-btn:hover {
  background-color: var(--primaryBlue);
}

#deleteBtn {
  text-decoration: none;
  position: relative;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--quaternaryBlue);
  color: var(--secondaryWhite);
  margin-top: 15px;
  border-radius: 20px;
  border: none;
}

#deleteBtn:hover{
  background-color: var(--primaryBlue);
}


.profile-btn {
  position: relative;
  padding: 10px;
  background-color: var(--secondaryBlue);
  border: double 2px grey;
  color: var(--primaryPurp);
  margin-top: 15px;
  padding: 5px;
}


.comment-btn {
margin-top: 10px;
  margin-bottom: 5px;
}

#commentContainer {
  text-align: center;
  margin: 10px;
  color:var(--primaryWhite);

}

.box {
  width:80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  

  
}
.box > img {
  width: 100%;
  height:auto;
  align-items: center;
  border-radius: 8%;

}

img {
  width:100%;
  height:auto;
}

.grid-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}

.grid-item {
  text-align: center;
  align-items: center;
}



#back-btn {
  position: absolute;
  border: 1px solid #777;
  text-decoration: none;
  background-color: var(--tertiaryBlue);
  border-radius: 2px;
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  text-decoration: none;
  color: var(--secondaryWhite);
  
}
.profPage {
  margin: 80px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-left: 5px;
padding-right: 5px;
padding-top: 40px;
border-radius: 50px;
}

.profCardContainer {
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 50px;
}

#prof-name {
  font-size: auto;
  font-weight:900;
  text-align: center;
  font-family:sans-serif;
  color: var(--primaryWhite);
}

p1 {
  font-size: larger;
  color: var(--primaryBlue);
  margin-right: auto;
  margin-left:auto ;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.match-header {
  text-align: center;
}

.matchCardContainer {
  display:flex;
  flex-wrap:wrap;
  width:80vw;
  margin: 0 auto;
}

.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.matchCard {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--quaternaryBlue);
  border-radius: 10px;
  background-color: var(--primaryWhite);
  color: var(--secondaryPurp);
}

a.matchCard {
  text-decoration: none;
  color:var(--primaryBlue)
}


.matchCard > h2 > img {
  display: block;
  margin: 0 auto;
  border-radius: 0%;
  padding:10px;
}

.matchCardHeader {
  background-color: #d6d3f7;
  
}

.matchTitle{
  color:var(--primaryWhite);
  background-color: #697FF2;
  text-align: center;
  font-weight: 800;
  text-transform: capitalize;
}


#update-form {
  background-color: var(--secondaryBlue);
  margin-left: auto;
}



#survey {
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    #4d19eb 0%,
    #0ff0fc 40%,
    #daa8eb 60%,
    #9d00ff 100%
    );
    background-size: 200% 200%;
    animation: movingGradient 100s linear infinite alternate;
  }
  @keyframes movingGradient {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
    
  

}

#surveyForm {
  background-image: linear-gradient(354deg, var(--primaryBlue) 0%, var(--secondaryBlue) 24%, var(--primaryPurp) 60%,var(--secondaryPurp)100%);
  max-width: 800px;
  margin: 0px auto;
  padding: 30px 30px;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 20px;
  border-radius: 50px;
  


}
.surveyForm-control {
  text-align: left;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: var(--primaryWhite);

}

.surveyForm-control Label {
  display: block;
  margin-bottom:10px;
  margin-top: 0px;
  display: flex;
  padding-right:40px;
  padding-left:40px;
  margin-right: 90px;
  background-color: var(--primaryWhite);
}

.surveyForm-control input{
  border: 2px solid var(--primaryBlue);
  border-radius: 2px;
  padding:10px;
  display: block;
  width:95%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 15px;
  position: relative;
  background-color: var(--primaryWhite);
}


.surveyForm-control textarea {
  border: 2px solid var(--primaryPurp);
  color:var(--primaryPurp);
  border-radius: 2px;
  padding:10px;
  display: block;
  width:95%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 15px;
  position: relative;
  background-color: var(--primaryWhite)

}



.survey-btn {
  background-color: var(--quaternaryBlue);
  color:var(--secondaryPurp);
  border: 1px solid gray;
  border-radius: 50px;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

p4 {
  font-size: larger;
  color: var(--primaryBlue);
  margin-right: auto;
  margin-left:auto ;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--primaryWhite);
}


.surveyContainer {
display:block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;

}

.surveyContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position:absolute;
  top:0;
  left:0;
  height: 25px;
  width: 25px;
  background-color:var(--primaryPurp);
  border-radius: 50%;
  margin-top:2px;
}

.surveyContainer:hover input ~ .checkmark {
  background-color:var(--quaternaryBlue);
}

.surveyContainer:checked ~ {
  background-color: var(--quaternaryBlue);
}

.checkmark:after {
  content:"";
  position: absolute;
  display: none;
}

.surveyContainer input:checked ~ .checkmark:after {
  display: block;
}

.surveyContainer .checkmark:after {
  top: 9px;
  left:9px;
  width:8px;
  height:8px;
  border-radius: 50%;
  background-color: var(--secondaryPurp);
}

.cloudinary-button {
  text-decoration: none;
  position: relative;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--quaternaryBlue);
  color: var(--secondaryWhite);
  margin-top: 15px;
  border-radius: 20px;
  border: none;
}
