* {
  background-color: rgb(231, 239, 239);
  font-family: sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);

  background-image: linear-gradient(
    to bottom right,
    #ff00a2 0%,
    #fcad0f 40%,
    #f98119 60%,
    #ff0000 100%
  );
  background-size: 200% 200%;
  animation: movingGradient 5s linear infinite alternate;
}
@keyframes movingGradient {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

header a:hover {
  color: rgb(255, 0, 89);
  text-decoration: none;
}

nav {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: rgb(200, 0, 255);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: deeppink;
  background-color: rgb(255, 89, 0);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid rgb(17, 113, 164);
  border-radius: 0.3rem;
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: rgb(0, 0, 0);
}

#homepage {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}
#homepage-title {
  padding: 20px;
  font-weight: 900;
  font-size: 90px;
}

#homepage-link {
  font-size: 50px;
}

#homepage-text {
  font-size: 45px;
}

.spinner {
  height: 36px;
  width: 36px;
  background-color: #ff00a2;
  animation: flip 2s linear infinite;
}
@keyframes flip {
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}



#login-form {
    display:flex;
    flex-direction: column;
    padding:20px;
    padding-top:40px;
}

#signUp-form {
    display:flex;
    flex-direction: column;
}