:root {
  --primaryBlue: #2a19eb;
  --secondaryBlue: #0ff0fc;
  --primaryPurp:#9d00ff;
  --secondaryPurp:#daa8eb;
  
}

* {
  background-color: rgb(231, 239, 239);
  font-family: sans-serif;
}

body {
  overscroll-behavior:none;
  background-image: radial-gradient(
    rgb(0, 255, 174) 0%, rgb(37, 20, 220) 40%, rgb(255, 119, 0) 60%, rgb(252, 140, 248) 100%
  )
}

header a:hover {
  background-color:rgb(0, 221, 255);
  text-decoration: none;
}

.navbar {
  padding-top: 10px;
  margin-top: 0%;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(
    to bottom right,
    #4d19eb 0%,
    #0ff0fc 40%,
    #daa8eb 60%,
    #9d00ff 100%
    );
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate;
  }
  @keyframes movingGradient {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
    
  }
  
  .title {
  display: flex;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
  background-color: transparent;
  position:relative;
  margin-right: auto;
  }
  
  nav {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-end;
  }
  
  nav a {
text-decoration: none;


}


.navbar-brand {
  background-color: transparent;
  border: transparent;
  color:white;
  display:flex;
  font-size: 25px;
  font-weight: bold;
  
}

.navbar-brand a:hover {
  background-color:rgb(0, 221, 255);
}

.logout-btn {
  font-size: 25px;
font-weight: bold;
text-decoration: none;
border:none;
background-color: transparent;

color:white;
}

.logout-btn:hover {
background-color:rgb(0, 221, 255);
}


.user {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#homepage {
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
text-align: center;
}
#homepage-title {
padding: 20px;
font-weight: 900;
font-size: 90px;
}

#homepage-link {
font-size: 50px;
}

#homepage-text {
font-size: 45px;
}


#login-form {
  display:flex;
  flex-direction: column;
  padding:20px;
  padding-top:40px;
}

#signUp-form {
  display:flex;
  flex-direction: column;
}

.profile {
  font-size:26px;
  color: var(--primaryPurp);
  width: auto;
  text-align: center;
  margin-right: auto;
  margin-left:auto ;
}


#post {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.edit-btn {
  position: relative;
  padding: 10px;
  background-color: var(--secondaryBlue);
  border: double 2px gray;
  color: var(--primaryPurp);
  margin-top: 15px;
  padding: 5px;
}

.profile-btn {
  position: relative;
  padding: 10px;
  background-color: var(--secondaryBlue);
  border: double 2px gray;
  color: var(--primaryPurp);
  margin-top: 15px;
  padding: 5px;
}


.comment-btn {
margin-top: 10px;
  margin-bottom: 5px;
}

#commentContainer {
  text-align: center;
  margin: 10px;

}

.box {
  width:80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  

  
}
.box > img {
  width: 60%;
  height: 450px;
  align-items: center;
  border-radius: 8%;

}

img {
  width:100%;
  height:100%;
  align-items: center;
}

.grid-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  margin: auto;;
  height:fit-content;
  width: fit-content;
  position: relative;
}

.grid-item {
  background-color: aqua;
  align-content: center;
  padding:5px;
  padding-left: 8px;
  padding-right: 5px;
  max-width: 100%;
  max-height: ;
  height: auto;
}

.grid-item-2 {
  max-height: auto;
}

#back-btn {
  position: absolute;
  border: 1px solid #777;
  background-color: #fcb90f;
  border-radius: 2px;
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 2px;
  
}
.profPage {
  margin: 80px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-left: 5px;
padding-right: 5px;
padding-top: 40px;
}

.profCardContainer {
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 50%;
}

#prof-name {
  font-size: 32px;
  font-weight:600;
  text-align: center;
}

p1 {
  font-size: larger;
  color: var(--primaryBlue);
  margin-right: auto;
  margin-left:auto ;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.match-header {
  text-align: center;
}

.matchCardContainer {
  display:flex;
  flex-wrap:wrap;
  width:80vw;
  margin: 0 auto;
}

.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.matchCard {
  width: 100%;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

a.matchCard {
  text-decoration: none;
  color:var(--primaryBlue)
}


.matchCard > h2 > img {
  display: block;
  margin: 0 auto;
  border-radius: 0%;
  padding:10px;
}

.matchCardHeader {
  background-color: #d6d3f7;
  
}

#update-form {
  background-color: aqua;
  margin-left: auto;
}



#survey {
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    #4d19eb 0%,
    #0ff0fc 40%,
    #daa8eb 60%,
    #9d00ff 100%
    );
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate;
  }
  @keyframes movingGradient {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
    
  

}

#surveyForm {
  background: rgb(255,116,9);
  background: linear-gradient(354deg, rgba(255,116,9,1) 0%, rgb(214, 73, 202) 24%, rgb(214, 73, 202) 60%, rgba(255,116,9,1) 100%);
  max-width: 800px;
  margin: 0px auto;
  padding: 30px 30px;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 20px;


}
.surveyForm-control {
  text-align: left;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-radius: 10px;

}

.surveyForm-control Label {
  display: block;
  margin-bottom:10px;
  margin-top: 0px;
  display: flex;
  justify-content: ;
  padding-right:40px;
  padding-left:40px;
  margin-right: 90px;
}

.surveyForm-control input{
  border: 2px solid rgb(0, 21, 255);
  border-radius: 2px;
  padding:10px;
  display: block;
  width:95%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 15px;
  position: relative;
}


.surveyForm-control textarea {
  border: 2px solid rgb(115, 255, 45);
  border-radius: 2px;
  padding:10px;
  display: block;
  width:95%;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 15px;
  position: relative;

}



.survey-btn {
  background-color: var(--primaryPurp);
  color:var(--secondaryPurp);
  border: 1px solid #777;
  border-radius: 2px;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

p4 {
  font-size: larger;
  color: var(--primaryBlue);
  margin-right: auto;
  margin-left:auto ;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}


.surveyContainer {
display:block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;

}

.surveyContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position:absolute;
  top:0;
  left:0;
  height: 25px;
  width: 25px;
  background-color:var(--primaryPurp);
  border-radius: 50%;
  margin-top:2px;
}

.surveyContainer:hover input ~ .checkmark {
  background-color:var(--secondaryBlue);
}

.surveyContainer:checked ~ {
  background-color: #fcb90f;
}

.checkmark:after {
  content:"";
  position: absolute;
  display: none;
}

.surveyContainer input:checked ~ .checkmark:after {
  display: block;
}

.surveyContainer .checkmark:after {
  top: 9px;
  left:9px;
  width:8px;
  height:8px;
  border-radius: 50%;
  background-color: var(--secondaryPurp);
}

